
<template>
  <div class="<%= data.lowerName %>">
    <h1>111</h1>
  </div>
</template>

<script>
export default {
  name: '<%= data.name %>',
  props: {

  },
  components: {},
  mixins:{},
  data() {
    return {}
  },
  created(){},
  mounted() {},
  computed: {},
  methods: {},
}
</script>

<style scope>
  .<%= data.lowerName %> {}
</style>