.countDown {
  flex: 2;
  margin-left: 10px;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid #1890ff;
  color: #909090;
}